# Default ignored files
/shelf/
/.idea/workspace.xml
./idea
.idea
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/node_modules
node_modules
xml
.xml
.env
env
