extends layouts/main-layouts

block styles
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            ul
                each product in prods
                    li= product.title
        else
            p No products available.



