<%- include('includes/head.ejs') %>
</head>

<body>
<%- include('includes/navigation.ejs') %>
<h1>Oops!</h1>
<p>Something went wrong!</p>
<p>We will check these soon!</p>

<%- include('includes/end.ejs') %>